<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/home', 'info']" routerLinkActive="active">Лични
      податоци</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home', 'semesters']" routerLinkActive="active">Запишани
      семестри</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home', 'subjects']"
       routerLinkActive="active">Предмети</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home', 'exams']" routerLinkActive="active">Испити</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home', 'requests']"
       routerLinkActive="active">Молби</a>
  </li>
  <li class="nav-item">
    <button class="nav-link" (click)="onLogout()">Logout</button>
  </li>
</ul>
